{{- if eq .chezmoi.os "darwin" -}}

if [ ! -d ~/.homebrew ]; then
	git clone https://github.com/Homebrew/brew ~/.homebrew || BASHRC_SHOULD_CLEAR=false
else
	export PATH="$PATH:$HOME/.homebrew/bin"
fi

eval "$(brew shellenv)"
chmod -R go-w "$(brew --prefix)/share/zsh"

{{- end }}
