{{- if eq .chezmoi.os "darwin" -}}

if [ ! -d ~/.homebrew ]; then
	git clone https://github.com/Homebrew/brew ~/.homebrew || BASHRC_SHOULD_CLEAR=false
fi

eval "$(~/.homebrew/bin/brew shellenv)"
brew update --force --quiet
chmod -R go-w "$(brew --prefix)/share/zsh"

{{- end }}
