{{- if eq .chezmoi.os "darwin" -}}

if [ ! -L ~/.homebrew -a ! -d ~/.homebrew ]; then
	git clone https://github.com/Homebrew/brew ~/.homebrew || BASHRC_SHOULD_CLEAR=false
	brew update --force --quiet
	chmod -R go-w "$(brew --prefix)/share/zsh"
fi

if [ -f ~/.homebrew/bin/brew ]; then
	eval "$(~/.homebrew/bin/brew shellenv)"
fi

{{- end }}
