# bash-git-prompt
if [ ! -d ~/.bash-git-prompt ]; then
	git clone https://github.com/magicmonty/bash-git-prompt.git ~/.bash-git-prompt --depth=1
fi

# nvm
if [ ! -d "$NVMDIR" ]; then
	curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
fi

# pyenv
if [ ! -d "$PYENV_ROOT" ]; then
	git clone https://github.com/pyenv/pyenv.git "$PYENV_ROOT"
	git clone https://github.com/pyenv/pyenv-virtualenv.git "$PYENV_ROOT/plugins/pyenv-virtualenv"
	ln -s "$PYENV_ROOT/bin/pyenv" ~/.local/bin/pyenv
fi

{{- if eq .chezmoi.os "darwin" }}

# homebrew
if [ ! -d ~/.homebrew ]; then
	git clone https://github.com/Homebrew/brew ~/.homebrew
	ln -s ~/.homebrew/bin/brew ~/.local/bin/brew
fi

{{- end }}

# clear the screen for convenience
clear
